.App {
  text-align: center;
  width: 100%;
  height: 100%;
  
  background: linear-gradient(45deg, #fead06, #c00def);
  padding: 0 5px;
  box-sizing: border-box;
}
  

/* * {
  box-sizing: border-box;
  border: gold solid 2px;  
} */


#navbar {
  background: linear-gradient(45deg, rgb(39, 222, 39), rgb(237, 242, 242));
  margin-bottom: 50px;
  font-size: x-large;
  display: flex;
  justify-content: center;
  word-spacing: 15px;
  text-decoration: none;
  font-family: 'Arvo', serif;
}
  
  
#navlink:hover {
  background-color: white;
  transition-duration: 0.05s;
  transform: scale(2);
}

#navlink {
  text-decoration: none;
  cursor: pointer;
}

button {
  background-color: yellow;
  border-radius: 20px;
  cursor: pointer;
  font-family: 'Fascinate', cursive;
} 

button:hover {
  transition-duration: 0.05s;
  transform: scale(2);
}
  
  
#photoURL {
  margin-bottom: 25px;
}

#header {
  background-color: rgb(247, 7, 7);
  margin-bottom: 50px;
  font-family: 'Staatliches', cursive;
  justify-content: center;
  background-attachment: fixed;
  display: flex;
  position: relative;
  width: 100%;
  height: 25vh;
  clip-path: circle(50vh at 50% -25vh);
}
  



#form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 100px;
  column-gap: px;
  font-family: 'Arvo', serif;
}


#footer {
  display: flex;
  /* position: absolute; */
  justify-content: flex-end;
  font-size: 8px;
  margin-top: 300px;
  font-family: 'Staatliches', cursive;

}
  

input::placeholder {
  color: red;
  font-family: 'Arvo', serif;
}

#photo-post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

#button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

#home-buttons {
  margin-left: 20px;
  background-color: yellow;
  border-radius: 20px;
  height: 25px;
}

#image {
border-radius: 20px;
width: 100%;
/* box-sizing: border-box; */
}

#user-info-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: 'Shadows Into Light', cursive;
}
  

.post {
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  margin: 20px 0;
}

.post-divider {
  height: 2px;
  width: 90%;
  background-color: yellow;
  border-radius: 5px;
  margin: 10px 0;
}

.user-info {
  display: flex;
  align-items: flex-start;
  margin: 0;
}


  















