.App {
  text-align: center;
  width: 100%;
  background-color: cadetblue;
  padding: 0 5px;
  box-sizing: border-box;
}

* {
  /* box-sizing: border-box;
  border: gold solid 2px; */
}


#navbar {
  background-color: rgb(240, 235, 219);
  margin-bottom: 50px;
  font-size: large;
  font-style: italic;
  display: flex;
  justify-content: flex-start;
  word-spacing: 50px;
  
}


button {
  background-color: yellow;
  border-radius: 20px;
  margin: 10px;
}

#header {
  background-color: red;
}



#form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 100px;
  column-gap: px;

}

#footer {
  position: absolute;
  justify-content: flex-start;
  font-size: 8px;
  
}






input::placeholder {
  color: red;
}

#photo-post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

#button-container {
  display: flex;
  flex-direction: row;
  /* justify-content: flex-start; */
  width: 100%;
  
}

#image {
border-radius: 20px;
width: 100%;
box-sizing: border-box;
}

#user-info-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  
  
}

.post {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 20px 0;
}

.post-divider {
  height: 2px;
  width: 90%;
  background-color: yellow;
  border-radius: 5px;
  margin: 10px 0;
}

.user-info {
  display: flex;
  align-items: flex-start;
  margin: 0;
}

/* @media only screen 
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3) {
  .user-info, #home-buttons {
    justify-content: center;
  }
  
} */










