.App {
  text-align: center;
  background-color: cadetblue;
}

* {
  box-sizing: border-box;
  /* border: gold solid 2px; */
}


#navbar {
  background-color: rgb(184, 148, 31);
  margin-bottom: 50px;
  text-align: justify;
  font-size: medium;
  font-style: italic;
}


button {
  background-color: yellow;
}

#header {
  background-color: red;
}

#navbar {
  text-align: center;
}

#form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 50px;

}

#footer {
  position: absolute;
  justify-content: flex-start;
  font-size: 8px;
  
}